log/*
data/**
data/**/*.csv
data/**/*.csv.gz
data/**/*.crc
data/**/*.pt
data/**/*.npy
data/**/*.parquet
data/**/*_SUCCESS
dev/**
ebes/*
tests/log**
scripts/sync.sh
zhores/configs/
**.parquet

notebooks/analysis_param.ipynb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build/*

transaction_me*/*
generation/data/preprocess/data/
*temp.ipynb

# Mine
temp/
*gpickle
.hypothesis*
*.out
res

bpe_post_process.py
*/exps/configs/*
notebooks/
*pkl
*.png
*.csv
*.sh
embeddings/
*.code-workspace