log/*
data/**/*.csv
data/**/*.crc
data/**/*.pt
data/**/*.parquet
data/**/*_SUCCESS
dev/**
ebes/*
tests/log**
scripts/sync.sh
zhores/configs/
**.parquet

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build/*

transaction_me*/*
generation/data/preprocess/data/
*temp.ipynb

# Mine
temp/
*gpickle
.hypothesis*
*.out

bpe_post_process.py