pandas==2.2.0
pyspark==3.5.0
seaborn==0.13.2
optuna==3.5.0
torcheval==0.0.7
omegaconf==2.3.0
lightgbm==4.3.0
ebes==0.0.8
sdmetrics==0.19.0
Levenshtein==0.26.1
pyrallis==0.3.1
dacite==1.9.2
ema-pytorch==0.7.7
torchdiffeq==0.2.4
timm==1.0.20
torch-linear-assignment==0.0.4 # to make it work run `pip install --no-build-isolation torch-linear-assignment`
