data_conf:
  train_resamples: 50
  batch_size: 1024
  train_random_end: time
  train_transforms:
    "3":
      CutTargetSequence:
        target_len: 32
  
  
# MODEL
# Now it works oonly with one categorical in dataset!!!! 
# Please, provide correct params fix, diff, losses. If we wanna diff cats lets provide type_loss in losses.
# TODO: Fix this shit
model:
  params:
    fix_features: [ ]
    diff_features: ["small_group", "trans_date", "amount_rur"]
    losses: ['type_loss', 'time_loss']
    cfg_w: 1.
    help_net:
      name: GroundTruthGenerator
      checkpoint:
    history_encoder:
      # checkpoint: /workspace/transaction-generation/log/generation/ready/age/gru.ckpt
      checkpoint: /home/dev/2025/transaction-generation/log/generation/ready/age/gru.ckpt
      name: AutoregressiveGenerator
      latent_encoder:
        name: GRU
        params:
          hidden_size: 480
          num_layers: 1
          dropout: 9.594490213419128e-06
      autoencoder:
        name: BaselineAE
        params:
          cat_emb_dim: 51
          num_emb_dim: 18
          num_norm: true
          use_time: true
        pretrain: false
        frozen: True
        batch_transforms:
      pooler: last
      params: null